.profileBanner {
  height: 20vh;
  background-color: #557050;
}

.profileName {
  display: flex;
  justify-content: flex-end;
  align-content: end;
  padding-top: 15vh;
  padding-right: 3vw;
}
.upcoming {
  display: flex;
  padding-top: 1vh;
  padding-left: 3vw;
}

.deleteBtn {
  color: #E4CAB0;
  background-color: #758B71;
  border: 1px solid #758B71;
  height: 3.4vh;
}
.updateBtn {
  color: #E4CAB0;
  background-color: #758B71;
  border: 1px solid #758B71;
  text-decoration: none;
  padding: 0 5px;
  align-items: center;
  display: flex;
  height: 3vh;
}
.appointmentCard {
  color: #758B71;
}