.LoginPage {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-end;
  align-items: center;
  margin-top: 20vh;
  background-color: #557050;
}
.form-control {
  background-color: #758B71;
  border: none;
}

.loginTitle {
  color: #E4CAB0;
  padding-bottom: 2vh;
}
.loginBtn {
  background-color: #758B71;
  margin-top: 1vh;
  border: 1px solid #557050;
  color: #E4CAB0;
;
  padding: 2px 5px;
}
.form-group {
  margin: 10px;
}