.img-responsive {
  width: 100%;
  height: 30%;
}

.image {
  background-size: cover;
  background-color: #557050;
  height: 25vh;
  background-position: bottom
  ;
}
.welcome {
  color: #F2E5D6;
  display: flex;
  justify-content: flex-end;
  align-content: end;
  padding-top: 15vh;
  padding-right: 3vw;
}

.react-multiple-carousel__arrow {
    color: #758B71;
    background-color: #758B71;
}

.bottomImg {
  background-image: url("https://images.unsplash.com/photo-1525923838299-2312b60f6d69?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=882&q=80.jpg");
  background-size: cover;
  height: 30vh;
  background-position: center;
  background-position: bottom;
  opacity: 80%;
}
.directions {
  text-decoration: none;
  border: .5px solid #557050;
  color: #F2E5D6;
  padding: 2px 5px;
  background-color: #557050;
}
