.img-responsive {
  width: 100%;
  height: 30%;
}

.image {
  background-size: cover;
  background-color: #557050;
  height: 25vh;
  background-position: bottom
  ;
}
.welcome {
  color: #F2E5D6;
  display: flex;
  justify-content: flex-end;
  align-content: end;
  padding-top: 15vh;
  padding-right: 3vw;
}

.react-multiple-carousel__arrow {
    color: #758B71;
    background-color: #758B71;
}

.visitUs {
  background-image: url("../../components/Images/homepageimage.jpg");
  background-size: cover;
}
.directions {
  text-decoration: none;
  border: .5px solid #F2E5D6;
  color: #F2E5D6;
  padding: 2px 5px;
  background-color: #557050;
}