.img-responsive {
  width: 100%;
  height: 30%;
}

.Image {
  /* background-image: url("../../components/Images/homepageimage.jpg");
   */
  background-size: cover;
  background-color: #758B71;
  height: 25vh;
  background-position: bottom
  ;
}
.welcome {
  color: #F2E5D6;
  display: flex;
  justify-content: flex-end;
  align-content: end;
  padding-top: 19vh;
  padding-right: 3vw;
}

.react-multiple-carousel__arrow {
    color: #758B71;
    background-color: #758B71;
}